<form [formGroup]='zadatakServis.polja' class="formaZadatak">

  <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="zadatakForma">
          <input type="hidden" formControlName="$id">
          <mat-form-field>
            <input formControlName="imeZadatka" matInput placeholder="Naziv Zadatka">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="opisZadatka" matInput placeholder="Opis Zadatka">
          </mat-form-field>
          <mat-form-field>
            <input
            formControlName="zadatakKreiran"
            matInput
            [matDatepicker]="picker"
            (ngModelChange)="onDataChange($event)"
            placeholder="Datum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
               <input type="hidden" formControlName="vrijeme">
        </div>
      </mat-grid-tile>
  </mat-grid-list>

</form>
