<mat-toolbar>
  <span>{{zadatakServis.polja.controls['$id'].value?'Promjena podataka':'Kreiranje novog zadataka'}}</span>
  <span class="popuni-preostali-prostor"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="zatvoriFormu()" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>


</mat-toolbar>

<form [formGroup]='zadatakServis.polja' class="formaZadatak" (submit)="snimi()">
  <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="zadatakForma">
          <input type="hidden" formControlName="$id">

          <mat-form-field>
            <input formControlName="imeZadatka" matInput placeholder="Naziv zadatka">
            <mat-error>Obavezno polje</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="opisZadatka" matInput placeholder="Opis zadatka">
            <mat-error *ngIf="zadatakServis.polja.controls['opisZadatka'].errors?.required">Obavezno polje</mat-error>
            <mat-error *ngIf="zadatakServis.polja.controls['opisZadatka'].errors?.minlength">Minimalno 10 znakova</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
            formControlName="zadatakKreiran"
            matInput
            [matDatepicker]="picker"
            (ngModelChange)="onDataChange($event)"
            placeholder="Datum unosa">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


            <mat-form-field>
                <input formControlName="vrijeme" matInput placeholder="Vrijeme">
              <mat-error>Obavezno polje</mat-error>
            </mat-form-field>

               <div class="button-zadatak">
                 <button mat-raised-button color="primary" type="submit" [disabled]="zadatakServis.polja.invalid">Snimi zadatak</button>
                 <button mat-raised-button color="warn" (click)="ocistiPolja()">Obriši polja</button>
               </div>

        </div>
      </mat-grid-tile>
  </mat-grid-list>
</form>
