<div class="mat-elevation-z8">

  <mat-table [dataSource]="listaZadataka" matSort>
    <ng-container matColumnDef="imeZadatka">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ime zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.imeZadatka}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="opisZadatka">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Opis zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.opisZadatka}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="zadatakKreiran">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum kreiranja</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.zadatakKreiran}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="vrijeme">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vrijeme kreiranja</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.vrijeme}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="akcija">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_forever</mat-icon></button>

      </mat-cell>
    </ng-container>


      <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
              <mat-spinner *ngIf="ucitano"></mat-spinner>
            Usnimavanje podataka..
          </mat-footer-cell>
        </ng-container>

    <!-- ključni zapis za mat- datatablu , postavlja header za tablicu -->
    <mat-header-row *matHeaderRowDef="ispisaneKolone"></mat-header-row>
    <mat-row *matRowDef="let row, columns: ispisaneKolone;"></mat-row>

    <mat-footer-row
      *matFooterRowDef="['loading']"
       [ngClass]="{'hide':listaZadataka!=null}">
    </mat-footer-row>
  </mat-table>

  <!-- <mat-paginator *ngIf="brojZadataka>5" -->
  <mat-paginator
  [pageSizeOptions]="[5,10,20]"
  [pageSize]="5"
  showFirstLastButtons
  [ngStyle]="{display: brojZadataka ? 'block' : 'none'}"
  >
  </mat-paginator>
</div>
