<div class="mat-elevation-z8">
  <mat-table [dataSource]="listaZadataka">
    <ng-container matColumnDef="imeZadatka">
      <mat-header-cell *matHeaderCellDef>Ime zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.imeZadatka}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="opisZadatka">
      <mat-header-cell *matHeaderCellDef>Opis zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.opisZadatka}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="zadatakKreiran">
      <mat-header-cell *matHeaderCellDef>Opis zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.zadatakKreiran}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="vrijeme">
      <mat-header-cell *matHeaderCellDef>Opis zadatka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.vrijeme}}</mat-cell>
    </ng-container>

    <!-- ključni zapis za mat- datatablu , postavlja header za tablicu -->
    <mat-header-row *matHeaderRowDef="ispisaneKolone"></mat-header-row>
    <mat-row *matRowDef="let row, columns: ispisaneKolone;"></mat-row>
  </mat-table>
</div>
