/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


div.container {
 margin: 0px 30px;

}


form.formaZadatak {
  margin: 0px 20px;
}

.zadatakForma{
  width: 80%;
  padding: 10%;
}



