/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


div.container {
 margin: 0px 30px;
}

.hide{
  display: none;
}

form.formaZadatak {
  margin: 10px;
}

.zadatakForma {
  width: 100%;
  padding: 10%;
}

.zadatakForma > * {
  width: 100%;
}

.button-zadatak button{
    margin: 10px;
}

.ucitavanje{
  // background-color: #5cb85c;
  // position: absolute;
  height: 100px;
  // height: 10px;
  justify-content: center;
  // align-content: center;
  // font-style: italic;
}

mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}



